In [1]:
from omikb.omikb import kb_toolbox
import json
import rdflib
from typing import Union
from ontoflow.engine import OntoFlowEngine
from tripper import Triplestore

2024-05-29 20:27:55,698 - [INFO]: -----------------------------------
2024-05-29 20:27:55,698 - [INFO]: Logger initialized with level INFO

In [2]:
from SPARQLWrapper import SPARQLWrapper, JSON, XML, POST, GET

In [3]:
kb=kb_toolbox()

Hello Usr: Yout access token is obtained: (Showing last 10 digits only) XG7FmGIqWg
Initialised Knowledge Base and OMI access from the jupyter interface for the user:
{
  "sub": "f8ba08b8-abbc-4aed-91eb-d4b5557d4fc6",
  "email_verified": false,
  "name": "adham hashibon",
  "preferred_username": "adham",
  "given_name": "adham",
  "family_name": "hashibon",
  "email": "a.hashibon@ucl.ac.uk"
}
None

# Example with SPARQLWRapper

# Query and return triplets

In [4]:
sparql = SPARQLWrapper(
    kb.query_iri
    )
kb.query_iri  # note this only takes GET methods for now.

'https://dev.openmodel.app/fuseki/dataset/sparql'

In [5]:
sparql.setReturnFormat(JSON)

In [6]:
q = """
SELECT ?p ?o
WHERE { 
    <http://example.org/person#Charlie> ?p ?o .
}
"""
sparql.setQuery(q)

In [7]:
ret = sparql.queryAndConvert()

In [8]:
sparql.queryString

'\nSELECT ?p ?o\nWHERE { \n    <http://example.org/person#Charlie> ?p ?o .\n}\n'

In [9]:
ret

{'head': {'vars': ['p', 'o']},
 'results': {'bindings': [{'p': {'type': 'uri',
     'value': 'http://example.org/property#name'},
    'o': {'type': 'literal', 'value': 'Charlie'}},
   {'p': {'type': 'uri', 'value': 'http://example.org/property#age'},
    'o': {'type': 'literal', 'value': '35'}}]}}

In [10]:
#for r in ret["results"]["bindings"]:
#        print(r['s']['value'], "----[", r['p']['value'], "]---->", r['o']['value'])

In [11]:
for r in ret["results"]["bindings"]:
    print("<http://example.org/person#Charlie>", "----[", r['p']['value'], "]---->", r['o']['value'])

<http://example.org/person#Charlie> ----[ http://example.org/property#name ]----> Charlie
<http://example.org/person#Charlie> ----[ http://example.org/property#age ]----> 35